body{
    display: flex;
    flex-flow: column;
}
header h1{
    text-align: center;
}
header p{
    text-align: center;
}

#university{
    display: flex;
    flex-flow: column wrap;
}
img{
    text-align: center;
    width:50%;
    height: 20%;
}