<div id="commentsModal" class="modal">

    <!-- Modal content -->
    <div class="comments-modal-content">
      <header>
          <span class='modal-user-name'>Alexandru Ichim</span>
          <span class='modal-date'><sup>23 martie</sup></span>
          <span class='modal-meta-data'>#the-beatles #john-lennon #paul-mccartney #ringo-star #george-harrison #1967 #proto-psychedelic #pop #violin #guitar #sitar #mono #stereo #36rpm</span>
          <span class='modal-action'>a ascultat</span>
          <span class='modal-musical-production'>The Beatles - Eleanor Rigby.</span>
       </header>
       <div class="comments-modal-main">
       <p>Some text in the Modal..</p>
       <p>Comment 1</p>
       <p>Such a cool song</p>
       <p>not my type but ok</p>
       <p>cool song m8</p>
       </div>
      <footer>
          <form>
              <input type='text'>
          </form>
      </footer>
    </div>
  
</div>